.title-bar {
  -webkit-app-region: drag;
  height: 32px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.title-bar-buttons {
  -webkit-app-region: no-drag;
}
